.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;

  z-index: 10;

  pointer-events: none;

  .headerContainer__logos {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;

    margin-top: get-vw(25px, 1280);
    margin-left: get-vw(120px, 1280);
  }
}
