.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;

  z-index: 10;

  pointer-events: none;

  .headerContainer__logos {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;

    margin-top: get-vw(25px, 1280);
    margin-left: get-vw(120px, 1280);

    .block__logo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      pointer-events: all;

      a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        height: auto;
      }

      &[data-index='0'] {
        width: get-vw(49.78px, 1280);
      }

      &[data-index='1'] {
        width: get-vw(104.63px, 1280);

        margin-top: get-vw(-5px, 1280);
      }
      &[data-index='2'] {
        width: get-vw(64.13px, 1280);

        margin-top: get-vw(-5px, 1280);
      }
    }

    .block__separator {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      width: get-vw(13.5px, 1280);

      margin: 0 get-vw(13.5px, 1280) 0 get-vw(13px, 1280);
    }
  }

  .headerContainer__shares {
  }
}

body.loaded {
  .headerContainer {
    opacity: 1;
    transform: translateY(0vw);
  }
}
body.startOutTransition,
body.testStart {
  .headerContainer {
    opacity: 0;
    transform: translateY(-110%);
  }
}

body.resultInTransition,
body.resultStart {
  .headerContainer {
    opacity: 1;
    transform: translateY(0vw);
  }
}
